<ngb-carousel class="fondoCarrousel">
	<ng-template *ngFor="let articulo of productosHot" ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="{{articulo.imagen}}" alt="Random first slide" />
		</div>
		
			<h3>Articulo: {{articulo.nombre}}</h3>
			<p>Precio: {{articulo.precio}}</p>
            <p>Rubro: {{articulo.rubro}} </p>
            <p>SubRubro: {{articulo.subrubro}}</p>
            <p>Descripcion: {{articulo.descripcion}} </p>

			<button (click)="agregarAlCarrito(articulo, articulo.id)">Agregar al carrito</button>
	
	</ng-template>
</ngb-carousel>
