<!-- <div class="bodyFooter"> -->
    <div class="footer">
        <div class="centro">
            <div class="circle">
                <a href="mailto:ventas@mtinformatica.com"> <i class="far fa-envelope-open" aria-hidden="true"></i></a>
            </div>
            <div class="circle">
                <a [href]="'https://www.instagram.com/marianotone'" target="_blank"> <i class="fab fa-instagram"
                        aria-hidden="true"></i></a>
            </div>
            <div class="circle">
                <a href="https://www.facebook.com/mtinformaticafranck?locale=es_LA" target="_blank"><i class="fab fa-facebook"
                        aria-hidden="true"></i></a>
            </div>
        </div>
    
    <div style="text-align: center;">
        <p>Copyright© - {{this.year}} - Desarrollado por <a href="https://www.linkedin.com/in/cristian-alessandria/" target="_blank">Cristian Alessandría</a>  - <a href="https://www.linkedin.com/in/andr%C3%A9s-alberto-hosch-24a75420a/" target="_blank">Andrés Hosch</a></p>
        <p>Todos los derechos reservados - MT Informática</p>
    </div>

    <div class="whatsapp-container">
        <!-- Botón de WhatsApp con ícono de Material Design -->
        <a href="https://api.whatsapp.com/send?phone=3424432244" class="whatsapp-btn" target="_blank">
          <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</div>
<!-- </div> -->



