/* .izquierda{
    width: 30%;
    background-color: red;
} */

.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: lightgray;
    text-align: center;
    padding-top: 20px;
}

/* .derecha{
    width: 30%;
    background-color: yellow;
} */

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background: #AFA13B;
    background: -moz-linear-gradient(left, #AFA13B 0%, #AE7D71 50%, #107997 100%);
    background: -webkit-linear-gradient(left, #AFA13B 0%, #AE7D71 50%, #107997 100%);
    background: linear-gradient(to right, #AFA13B 0%, #AE7D71 50%, #107997 100%);
    margin-right: 20px;
}
.circle mat-icon {
    font-weight: bold;
    color: white;
  }

 .footer{
    width: 100%;
    height:auto;
    display: flex;
}