.centro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    /* background-color: black; */
    text-align: center;
    padding-top: 20px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
    background: #AFA13B;
    background: -moz-linear-gradient(left, #AFA13B 0%, #AE7D71 50%, #107997 100%);
    background: -webkit-linear-gradient(left, #AFA13B 0%, #AE7D71 50%, #107997 100%);
    background: linear-gradient(to right, #AFA13B 0%, #AE7D71 50%, #107997 100%);
    margin-right: 20px;
  
}
.circle i {

    font-weight: bold;
    color: white;
  }

 .footer{
    width: 100%;
    height:auto;
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}

.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  width: 70px; /* Ancho cuadrado */
  height: 70px; /* Alto cuadrado */
}

/* Estilos para el botón de WhatsApp */
.whatsapp-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #25D366; /* Color verde de WhatsApp */
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 50px;
  transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
  background-color: #128C7E; /* Cambio de color al pasar el ratón */
}

.copyright{
  .copyright {
    margin-top: auto;
    width: 100%; 
    text-align: center;
    font-size: 15px;
    background-color: #3f51b5;
    color: white;
    padding: 0.4rem;
}
a{
    text-decoration: none;
    color: white;
}
}

.bodyFooter {
  position: absolute;
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
  background-color: black;
  color: white;
}

