

<div class="footer">
    <!-- <div class="izquierda">
        <h3>
            Info Desarrolladores
        </h3>
    </div> -->
    <div class="centro">
    <div class="circle">
       <a href="mailto:ventas@mtinformatica.com"> <i class="far fa-envelope-open" aria-hidden="true"></i></a>
    </div>
    <div class="circle">
       <a [href]="'https://www.instagram.com/marianotone'" target="_blank"> <i class="fab fa-instagram" aria-hidden="true"></i></a>
    </div>
    <div class="circle">
        <a href="https://www.facebook.com/mtinformaticafranck?locale=es_LA" target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a>
    </div>
    <!-- <div class="circle">
       <a href="https://api.whatsapp.com/send?phone=3424432244" target="_blank"> <i class="fab fa-whatsapp"></i> </a>
      </div> -->
      <!-- <div id="whatsapp-icon" class="whatsapp-icon">
        <i class="fab fa-whatsapp"></i>
      </div> -->
        <!-- <p>--------------------------------------------</p>
        <p>ventas@mtinformatica.com.ar</p>
        <p>3424432244</p>
        <p>+5493424432244</p>
        <p>marianoat</p>
        <p>/mtinformaticafranck</p>
        <p>marianotone</p> -->
    </div>
   
    <!-- <div class="derecha">
        <h3>
            Redes Sociales
        </h3>
    </div> -->
</div>
<div style="text-align: center;background-color: lightgray; padding-top: 20px;">Copyright© - {{this.year}} Todos los derechos reservados - MT Informática</div>

<div class="whatsapp-container">
    <!-- Botón de WhatsApp con ícono de Material Design -->
    <a href="https://api.whatsapp.com/send?phone=3424432244" class="whatsapp-btn" target="_blank">
      <i class="fab fa-whatsapp"></i>
    </a>
  </div>
