
<nav class="navbar-expand-lg barra">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav colorNavBar">
        <a class="nav-link" href="#">Productos</a>
        <a class="nav-link" href="./nosotros">Nosotros</a>
        <a class="nav-link" aria-current="page"href="./contacto">Contactos</a>
        <a class="nav-link"href="./servicios">Servicios</a>
        <div *ngIf="isAdmin" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gestiones
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="./gestionUsr">Usuarios</a>
            <a class="dropdown-item" href="./gestion">Productos</a>
            <a class="dropdown-item" href="./gestionPedido">Pedidos</a>
            <a class="dropdown-item" href="./gestionPago">Pagos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


