.login{
    display: flex;
    flex-direction: column;
}

.confirmation-dialog {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
  }

  .colorNavBar a{
  color: #107997;
  font-weight: bold;
  }

  .barra{
    background-color: black;
     height: 100%;
    display: flex;
    align-items: center;
  }

  .posiciones{
    display: flex;
    justify-content: space-between;
  }


  .agrupados{
    width: 70%;
    margin-left: 30%;
    display: flex;
    justify-content: space-evenly;
  }

  .agrupados a{
    width: auto
  }

  .dropdown-menu{
    background-color: black;
  }

  li{
    background-color: black;
    z-index: 2;
  }

  @media (max-width: 990px) {
    .logo {
      display: none;
    }
  }