<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Nosotros</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="./contacto">Contactos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Servicios</a>
    </li>
    <div *ngIf="usrAdmin">
      <li class="nav-item">
        <a class="nav-link" href="./gestion">Gestión de productos</a>
      </li>
    </div>
    <li class="nav-item">
      <a (click)="habilitarLogin()" class="nav-link">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Carrito</a>
    </li>
  </ul>

  <div class="confirmation-dialog" *ngIf="loginProgress">
    <div class="dialog-content">
        <div class="login" *ngIf="login">
          <form [formGroup]="loginUsr" (ngSubmit)="ingresoUsr()"> 
            <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Usuario</mat-label>
                        <input matInput formControlName="usuario">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="4" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Contraseña</mat-label>
                        <input matInput formControlName="contrasena">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <button  type="submit" mat-raised-button color="primary" style="float: center;margin-bottom: 40px;">Aceptar</button>  
          </form>
          <button (click)="irARegistro()" mat-raised-button color="primary" style="float: center;margin-bottom: 20px;">Registrarme</button>  
          <button (click)="cerrarLogin()" mat-raised-button color="primary" style="float: center;margin-bottom: 20px;">Cancelar</button>  
            
          
        </div>
        <div class="registro" *ngIf="!login">
            <form [formGroup]="formRegistro" class="formInicio" (ngSubmit)="solicitarAlta()">
                <label>Nombre</label>
                <input type="text" formControlName="nombre">
                <label>Apellido</label>
                <input type="text" formControlName="apellido">
                <label>Clave</label>
                <input type="password" formControlName="password">
                <label>Mail</label>
                <input type="email" formControlName="email">
        
                <label>DNI</label>
                <input type="text" formControlName="dni">
                <label>CUIT</label>
                <input type="text" formControlName="cuit">
                <label>Domicilio</label>
                <input type="text" formControlName="domicilio">
                <label>Telefono</label>
                <input type="email" formControlName="email">
                
                <button type="submit">Solicitar Registro</button>
            </form>
            <button class="ingreso" (click)="irALogin()">Cancelar</button>
        </div>
    </div>
</div>
