.resumenCarrito{
    width: 25%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 20px #b0b3b2;
    margin-left: 3%;
    max-height: 600px;
  }

  .mat-icon{
    overflow: hidden;
  }
  
  .resumenCarrito h4{
    text-align: center;
    color: #107997;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .resumenCarrito button{
    margin-top: 5px;
    width: 70%;
  }

  .resumenCarrito button{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .modalCarrito {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
    max-height: 800px;
    overflow: auto; 
  }

  .modalCarrito h1{
    color: #107997;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .modalCarrito h4{
    color: #107997;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .carritoVacio{
    width: 80%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 20px #b0b3b2;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .carritoVacio button{
    margin-top: 25px;
  }
  
  .dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
    text-align: center;
  }
  
  .dialog-content h3 {
    margin-top: 0;
  }
  
  .dialog-content p {
    margin-bottom: 10px;
  }
  
  .dialog-content button {
    margin-right: 10px;
  }

  

  .confirmation-dialog {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedorCart{
    display: flex;
    
  }
  
  .losProductos{
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 20px #b0b3b2;
    max-height: 600px;
    overflow: auto; 
    padding-bottom: 25px;
  }

  .carroYcantidad{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

.card{
  margin-top: 25px;
}

.card img{
  width: 90%;
  height: 90%;
  margin-top: 5%;
}

.ordenCard{
  display: flex;
  flex-direction: row;
}

.ordenCard button{
  width: 35px;
  height: 35px;
}

.derArriba{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.carroImagen{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
}

.carroNombre{
  width: 100%;
  height: 60px;
}

.derAbajo{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.carritoPrecioU{
  width: 20%;
  height: 70px;
}

.carritoPrecioU table{
  width: 100%;
}

.carritoPrecioT{
  width: 20%;
  height: 70px;
}

.carritoPrecioT table{
  width: 100%;
}

.carritoPrecioIva{
  width: 30%;
}

.carritoBotonera {
  width: 20%;
  height: 70px;
}

.carritoBotonera button {
  margin: 0 5px; 
}

.carritoEliminar{
  width: 10%;
  height: 70px;
}

.formatoCol{
  display: flex;
  flex-direction: column;
}

.ladoDerecho{
  display: flex;
  flex-direction:row ;
}

.arriba{
  display: flex;
  flex-direction: column;
}


.izquierda{
  width: 15%;
  height: 130px;
}

.derecha{
  width: 85%;
  height: 130px;
  
}

.carrito{
  display: flex;
  flex-direction: row;
}

.ordenCeldas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonClose{
  text-align: center;
  justify-content: center;
  margin-top: 25px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

.metodo{
  margin-top: 50px;
}

.metodo h6{
  margin-top: 25px;
  color: #107997;
}


.top-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .title{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 10px;
  }

  .subtitle{
      width: 90%;
      padding: 10px;
      text-align: center;
      font-size: 18px;
  }

  h3{
    margin-bottom: 30px;
  }
}