<a (click)="verCarrito()">Carroooo</a>

<ul>
    <li *ngFor="let producto of productos">{{ producto.nombre }}</li>
  </ul>

<div class="confirmation-dialog" *ngIf="carritoHabilitado">
    <div class="modalCarrito">

        <div>
            <h2>Carrito</h2>
            <div class="contenedorCart">
                <div class="losProductos">izquierda
                    <div *ngFor="let producto of productos">{{ producto.rubro }}</div>
                    <button>SSS</button>
                </div>
                <div class="resumenCarrito">
                    <h4>Resumen</h4>
                    <div class="container">
                        <span>Productos: </span>
                        <span>{{total}}</span>
                    </div>
                    <div class="container ">
                        <span>Costo Total:</span>
                        <span>$8500</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <button (click)="ocultarCarrito()">Cerrar</button>
        <button (click)="verCart()">Ver carrito</button>
    </div>
</div>
