.resumenCarrito{
    width: 25%;
    background-color:lemonchiffon;
    margin-left: 3%;
    margin-top: 25px;
  }

  .mat-icon{
    overflow: hidden;
  }
  
  .resumenCarrito h4{
    text-align: center;
  }
  .resumenCarrito button{
    margin-top: 5px;
    width: 70%;
  }
  
  .modalCarrito {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
  }

  

  .confirmation-dialog {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenedorCart{
    display: flex;
  }
  
  .losProductos{
    width: 70%;
    text-align: center;
  }

  .carroYcantidad{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .carroYcantidad a{
    display: flex;
    flex-direction: row;
  }

.card{
  margin-top: 25px;
}

.card img{
  width: 90%;
  height: 90%;
  margin-top: 5%;
}

.ordenCard{
  display: flex;
  flex-direction: row;
}

.ordenCard button{
  width: 35px;
  height: 35px;
}

.derArriba{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.carroImagen{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
}

.carroNombre{
  width: 100%;
  height: 60px;
}

.derAbajo{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.carritoPrecioU{
  width: 20%;
  height: 70px;
}

.carritoPrecioU table{
  width: 100%;
}

.carritoPrecioT{
  width: 20%;
  height: 70px;
}

.carritoPrecioT table{
  width: 100%;
}

.carritoPrecioIva{
  width: 30%;
}

.carritoBotonera {
  width: 20%;
  height: 70px;
}

.carritoBotonera button {
  margin: 0 5px; 
}

.carritoEliminar{
  width: 10%;
  height: 70px;
}

.formatoCol{
  display: flex;
  flex-direction: column;
}

.ladoDerecho{
  display: flex;
  flex-direction:row ;
}

.arriba{
  display: flex;
  flex-direction: column;
}


.izquierda{
  width: 15%;
  height: 130px;
  background-color: lightsalmon;
}

.derecha{
  width: 85%;
  height: 130px;
  background-color: lightcyan;
}

.carrito{
  display: flex;
  flex-direction: row;
}

.ordenCeldas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonClose{
  text-align: center;
  justify-content: center;
  margin-top: 25px;
}

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.radio-button {
  margin: 5px;
}

