<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>Document</title>
</head>
    <div class="carroYcantidad">
        <a (click)="verCarrito()">
            <i class="pi pi-shopping-cart p-button-icon" style="font-size: 1.5rem; color: #107997; cursor: pointer;" matTooltip="Ver carrito"></i>
        </a>
        <span class="nav-link" style="color:#107997;font-weight: bolder;size: 50px;">{{ total }}</span>
    </div>

    <div class="confirmation-dialog" *ngIf="carritoVacio">
        <div class="carritoVacio">
            <h3>Actualmente tu carrito está vacío. <b><a style="color: orange; cursor: pointer;text-decoration: none;" href=''>Comprar</a></b></h3>
                <button style="background-color: #107997;color: white;" mat-raised-button color="primary" (click)="cerrarAviso()">Cerrar</button>
        </div>
    </div>
    
    
    <div class="confirmation-dialog" *ngIf="carritoHabilitado">
        <div class="modalCarrito">
            <div>
                <h1>Carrito</h1>
                <div class="contenedorCart">
                    <div class="losProductos container">
                        <h4>Productos</h4>
                        <div *ngFor="let producto of productos" class="card">
                            <div class="carrito">
                                <div class="izquierda">
                                    <div class="carroImagen">
                                        <img src="{{ producto.addProducto.imagenes }}">
                                    </div>
                                </div>
                                <div class="derecha">
                                    <div class="derArriba">
                                        <div class="carroNombre ordenCeldas">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <strong>Producto: </strong>{{producto.addProducto.nombre}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="derAbajo">
                                        <div class="carritoPrecioU ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Precio unitario</th>
                                                </tr>
                                                <tr>
                                                    <td>U$S {{ producto.addProducto.precio | number:'1.2-2' }}</td>
                                                </tr>
                                            </table>
                                        </div>
    
                                        <div class="carritoBotonera ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Cantidad</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button (click)="restarUno(producto.addProducto.id)">-</button>
                                                        <label id="cotización">{{producto.addProducto.cantidad}}</label>
                                                        <button (click)="sumarUno(producto.addProducto.id)">+</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="carritoPrecioT ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Costo total</th>
                                                </tr>
                                                <tr>
                                                    <td>U$S {{ (producto.addProducto.precio * producto.addProducto.cantidad).toFixed(2) | number:'1.2-2' }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="carritoPrecioIva ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Costo total con IVA</th>
                                                </tr>
                                                <tr>
                                                    <td>U$S {{ (producto.addProducto.precio * producto.addProducto.cantidad * (1 + producto.addProducto.iva / 100)).toFixed(2) | number:'1.2-2' }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="carritoEliminar ordenCeldas">
                                            <button (click)="quitarProd(producto.addProducto.id)"><mat-icon>delete</mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resumenCarrito">
                        <h4 id="product-description">Resumen</h4>

                        <div>
                            <p><strong>Cantidad Items: </strong>{{ total }}</p>
                            <p><strong>Costo Total: </strong>U$S {{ montoIncremento | number:'1.2-2' }}</p>
                            <p><strong>Costo Total con Iva: </strong>U$S {{ montoIncrementoIva.toFixed(2) | number:'1.2-2' }}</p>
                        </div>

    
                        <div class="metodo">
                            <h6><label id="example-radio-group-label">Seleccione método de pago</label></h6>
                    
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="seleccionPago" (change)="seleccionCambiada()">
                                <mat-radio-button class="radio-button" *ngFor="let metodo of metodoPago; let i = index" [value]="metodo.metodo">{{metodo.metodo}}</mat-radio-button>
                            </mat-radio-group>
                            <div>Tu selección de pago: {{seleccionPago}}</div>
                        </div>
                        
                        <div>
                            <button style="background-color: #107997;color: white;" mat-raised-button color="primary" (click)="confirmPedido()">Confirmar pedido</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="buttonClose">
                <button style="background-color: #107997;color: white;" (click)="ocultarCarrito()" mat-raised-button color="primary">Cerrar</button>  
            </div>
        </div>
    </div>

    <div class="confirmation-dialog" *ngIf="showBuy">
        <div class="dialog-content">
            <div class="top-content">
                <div class="title">
                    <h2 mat-dialog-title><i class="pi pi-gift" style="font-size: 2rem"></i>¡Felicitaciones!<i class="pi pi-gift" style="font-size: 2rem"></i></h2>
                </div>
                <div class="subtitle">
                    <p>Ha finalizado su compra correctamente</p>
                    <p>Numero de pedido #{{numeroPedido}}</p>
                </div>
                <div>
                    <h3>Gracias por su compra</h3>
                </div>
                <button style="background-color: #107997;color: white;" mat-raised-button (click)="aceptarBuy()">Aceptar</button>
            </div>
        </div>
    </div>


    <div class="confirmation-dialog" *ngIf="showConfirmationPedido">
        <div class="dialog-content">
            <h4>¿Está seguro que desea confirmar el pedido?</h4>
            <div style="text-align: center;">
                <button style="background-color: #107997;color: white;" mat-raised-button (click)="mostrarCarrito()">Confirmar</button>
                <button  style="background-color: #107997;color: white;" mat-raised-button (click)="cancelPedido()">Cancelar</button>
            </div>
        </div>
    </div>
    
    <script src="/src/app/components/carrito/index.js"></script>
    <!-- <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script> -->
</html>




