<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <title>Document</title>
</head>
<body>
    <div class="carroYcantidad">
        <a (click)="verCarrito()"><mat-icon>shopping_cart</mat-icon> </a>
        <span class="nav-link">{{ total }}</span>
    </div>
    
    <div class="confirmation-dialog" *ngIf="carritoHabilitado">
        <div class="modalCarrito">
            <div>
                <h2>Carrito</h2>
                <div class="contenedorCart">
                    <div class="losProductos container">
                        <div *ngFor="let producto of productos" class="card">
                            <div class="carrito">
                                <div class="izquierda">
                                    <div class="carroImagen">
                                        <img src="{{ producto.addProducto.imagenes }}">
                                    </div>
                                </div>
                                <div class="derecha">
                                    <div class="derArriba">
                                        <div class="carroNombre ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Producto</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ producto.addProducto.nombre }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="carroDescripcion ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Descripción</th>
                                                </tr>
                                                <tr>
                                                    <!-- <td>{{ producto.addProducto.descripcion }}</td> -->
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="derAbajo">
                                        <div class="carritoPrecioU ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Precio unitario</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ producto.addProducto.precio }}</td>
                                                </tr>
                                            </table>
                                        </div>
    
                                        <div class="carritoBotonera ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Cantidad</th>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <button (click)="restarUno(producto.addProducto.id)">-</button>
                                                        <label id="cotización">{{producto.addProducto.cantidad}}</label>
                                                        <button (click)="sumarUno(producto.addProducto.id)">+</button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="carritoPrecioT ordenCeldas">
                                            <table>
                                                <tr>
                                                    <th>Costo total</th>
                                                </tr>
                                                <tr>
                                                    <td>{{ producto.addProducto.precio * producto.addProducto.cantidad }}</td>
                                                </tr>
                                            </table>
                                        </div>
                                        <div class="carritoEliminar ordenCeldas">
                                            <button (click)="quitarProd(producto.addProducto.id)"><mat-icon>delete</mat-icon></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="resumenCarrito">
                        <h4 id="product-description">Resumen</h4>
    
                        <div class="ordenCeldas">
                            <table>
                                <tr>
                                    <th>Cantidad Items:</th>
                                </tr>
                                <tr>
                                    <td id="unit-price">{{ total }}</td>
                                </tr>
                            </table>
                        </div>
    
                        <div class="ordenCeldas">
                            <table>
                                <tr>
                                    <th>Costo Total:</th>
                                </tr>
                                <tr>
                                    <td>$ {{ monto }}</td>
                                </tr>
                            </table>
                        </div>
    
                        <br>
                        <button mat-raised-button color="primary">Cargar Pedido</button>
                        <br>
    
                        <button mat-raised-button color="primary" id="checkout-btn">Checkout</button>
                        <!-- <button mat-raised-button color="primary">Pagar con Mercado Pago</button> -->
    
                        
                        <div id="button-checkout">
    
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="buttonClose">
                <button (click)="ocultarCarrito()" mat-raised-button color="primary">Cerrar</button>  
            </div>
        </div>
    </div>
    <script src="./index.js"></script>
</body>
</html>




