<app-encabezado></app-encabezado>
<app-navbar></app-navbar>
<div class="container portada ">

    <div class="container-contacto">
        <div class="left">
            <div class="header">
                <h2 class="animation  a1">CONTACTANOS</h2>

            </div>
            <form id="form" action="" method="post">
                <div class="form">
                    <input type="text" name="Nombre" class="form-field animation a3" placeholder="Nombre" required>
                    <input type="telefono" name="Teléfono" class="form-field animation a4" placeholder="Teléfono" required>
                    <input type="email" name="Correo" class="form-field animation a5" placeholder="Mail" required>
                    <textarea name="mensaje" class="animation a6" placeholder="Dejanos tu comentario..." id="" cols="30" rows="10" required></textarea>
                    <button class="animation a6 button-form">Enviar</button>
                </div>
            </form>
        </div>
        <div class="right"></div>
    </div>
</div>
