<app-encabezado></app-encabezado>

<div class="body">
  <div class="gris"></div>

  <div class="container fondoValores">
      <div class="row porColumna">
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 cadaCol">
          <div class="contenedor">
            <h2 style="color: #107997;font-weight: bold;">Venta de equipos e insumos</h2>
            <div>
              <h6>Equipos Informáticos</h6>
              <ul>
                <li>Notebooks</li>
                <li>PC de escritorio</li>
                <li>Monitores</li>
                <li>Servidores</li>
                <li>UPS</li>
                <li>Impresoras</li>
              </ul>
            </div>
            <div>
              <h6>Almacenamiento</h6>
              <ul>
                <li>Discos externos</li>
                <li>Memorias</li>
                <li>Pendrives</li>
              </ul>
            </div>
            <div>
              <h6>Conectividad</h6>
              <ul>
                <li>Routers</li>
                <li>Placas de red USB</li>
                <li>Extensores de rango</li>
              </ul>
            </div>
            <div>
              <h6>Periféricos y accesorios</h6>
              <ul>
                <li>Teclados y mouse</li>
                <li>Auriculares</li>
                <li>Parlantes</li>
              </ul>
            </div>

              
         
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 cadaCol">
          <div class="contenedor">
            <h2 style="color: #107997;font-weight: bold;">Servicio técnico</h2>
              <ul>
                <li>- Reparación electronica de Notebooks, PC's de escritorio, monitores, placas madres, etc.</li>
                <li>- Reparación y mantenimiento de UPS.</li>
                <li>- Mantenimiento de impresoras.</li>
                <li>- Instalación y configuración de redes de datos, cableados y puestos de trabajo.</li>
                <li>- Armado de rack informático.</li>
                <li>- Recuperación de datos y backup.</li>
                <li>- Software: Instalación y configuración de sistemas operativos Linux y Windows en notebooks, PC's y servidores.</li>
              </ul>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4 cadaCol">
          <div class="contenedor">
            <h2 style="color: #107997;font-weight: bold;">Asesoramiento</h2>
              <ul>
                <li>- Asesoramiento sobre Software Legal</li>
                <li>- Presupuestos</li>
              </ul>
          </div>
        </div>
      </div>
  </div>  
  
  <div class="gris"></div>
</div>

<app-footer></app-footer>
