<app-encabezado></app-encabezado>
<div class="body">
  <div class="miContenedor">
    <div class="gris"></div>
    <div class="videoFoto container container-shop">
      <video class="form-container" id="miVideo" width="640" height="360" controls (ended)="finalizarVideo()" *ngIf="mostrarVideo">
        <source src="../../../assets/Clip Gamer.mp4" type="video/mp4">
        Tu navegador no soporta la reproducción de videos.
      </video>

      <img class="form-container-photo" width="640" height="360" *ngIf="mostrarFoto" src="../../../assets/urlMT.png" alt="Foto" >
    </div>

    <div class="infografia container container-shop">
      <div class="seccion form">
        <h2 style="color: #107997;font-weight: bold;">Misión</h2>
        <p style="color: #107997;">Somos una empresa dedicada a buscar soluciones integrales para satisfacer requerimientos de empresas,
          emprendedores y particulares en el campo de la tecnología e informática, brindando un servicio profesional y
          asesoramiento personalizado que permitan lograr el resultado que mejor se adapte a cada caso.</p>
      </div>
      <div class="seccion">
        <h2 style="color: #107997;font-weight: bold;">Visión</h2>
        <p  style="color: #107997;">Creemos firmemente que la fuerza que nos hace avanzar son nuestros clientes, por eso son nuestra prioridad, y
          asumimos el desafío de estar permanentemente capacitados y actualizados, tratando de lograr una óptima
          solución para cada uno de ellos, sugiriendo el producto o la herramienta más eficiente y eficaz.</p>
      </div>
      <div class="seccion">
        <h2 style="color: #107997;font-weight: bold;">Valores</h2>
        <ul  >
          <li style="color: #107997;"><strong>Compromiso:</strong> Nos comprometemos a proporcionar soluciones de alta calidad y a trabajar
            incansablemente para cumplir con las expectativas de nuestros clientes.</li>
          <li style="color: #107997;"><strong>Innovación:</strong> Buscamos constantemente nuevas formas de mejorar y adaptarnos a un entorno
            tecnológico en constante cambio.</li>
          <li style="color: #107997;"><strong>Confianza:</strong> Fomentamos relaciones sólidas y de confianza con nuestros clientes, basadas en
            la transparencia y la integridad.</li>
          <li style="color: #107997;"><strong>Colaboración:</strong> Valoramos el trabajo en equipo y la colaboración, tanto dentro de nuestra
            empresa como con nuestros clientes y socios. </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="gris"></div>
</div>

<app-footer></app-footer>