<!-- Inicio Productos destacados -->
<ngb-carousel class="fondoCarrousel">
	<ng-template *ngFor="let articulo of productosHot" ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="{{articulo.imagen}}" alt="Random first slide" />
		</div>
		
			<h3>Articulo: {{articulo.nombre}}</h3>
			<p>Precio: {{articulo.precio}}</p>
            <p>Rubro: {{articulo.rubro}} </p>
            <p>SubRubro: {{articulo.subrubro}}</p>
            <p>Descripcion: {{articulo.descripcion}} </p>

			<button  (click)="agregarAlCarrito(articulo, articulo.id)">Agregar al carrito</button>
	
	</ng-template>
</ngb-carousel>
<!-- Fin Productos destacados -->

<input type="text" [(ngModel)]="productSearch" placeholder="Ingrese una palabra clave">
 <button (click)="filterProducts()">Buscar</button> 
 <button (click)="cleanFilters()">Limpiar filtros</button> 
<h3 class="titleProductos" >NUESTROS PRODUCTOS</h3>
<!-- <button (click)="traerTodo()">Traer</button> -->
  <div class="card" style="width: 18rem" *ngFor="let productos of arrProductsPages">
    <img src={{productos.imagenes[0]}} class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productos.nombre}}</h5>
      <p class="card-text">{{productos.categoria}}</p>
      <p class="card-marca">{{productos.marca}}</p>
      <p class="card-precio">U$S {{productos.pvp_usd}}</p>
    </div>
    <div class="card-body">
      <a href={{productos.link}} class="card-link" target="_blank">Ver Producto</a>
    </div>
  </div>
  <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
     <ul class="pagination justify-content-center" *ngIf="filterArray.length>0">
      <li class="page-item"><a class="page-link" [class.disabled]="this.numberPages==1"(click)="firstPage(filterArray)"><<</a></li>
      <li class="page-item"><a class="page-link "[class.disabled]="this.numberPages==1"(click)="afterPage(filterArray)"><</a></li>
      <li class="page-item"><a class="page-link">{{this.numberPages}}</a></li>
      <li class="page-item"><a class="page-link"[class.disabled]="this.numberPages==numberPages.length"(click)="nextPage(filterArray)">></a></li>
      <li class="page-item"><a class="page-link" (click)="lastPage(filterArray)"[class.disabled]="this.numberPages==numberPages.length">>></a></li>    
    </ul> 
    <ul class="pagination justify-content-center" *ngIf="filterArray.length===0">
      <li class="page-item"><a class="page-link" [class.disabled]="this.numberPages==1"(click)="firstPage(arrProducts)"><<</a></li>
      <li class="page-item"><a class="page-link "[class.disabled]="this.numberPages==1"(click)="afterPage(arrProducts)"><</a></li>
      <li class="page-item"><a class="page-link">{{this.numberPages}}</a></li>
      <li class="page-item"><a class="page-link"[class.disabled]="this.numberPages==numberPages.length"(click)="nextPage(arrProducts)">></a></li>
      <li class="page-item"><a class="page-link" (click)="lastPage(arrProducts)"[class.disabled]="this.numberPages==numberPages.length">>></a></li>    
    </ul> 
  </nav>

 