<!-- Inicio Productos destacados -->
<h3 class="titleProductos" >PRODUCTOS DESTACADOS</h3>
<ngb-carousel class="fondoCarrousel">
	<ng-template *ngFor="let articulo of productosHot" ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="{{articulo.imagenes}}" alt="Random first slide" />
		</div>
		
			<h3>Articulo: {{articulo.nombre}}</h3>
			<p>Precio: {{articulo.precio}}</p>
            <p>Rubro: {{articulo.categoria}} </p>
            <p>SubRubro: {{articulo.subcategoria}}</p>
            <p>Descripcion: {{articulo.descripcion}} </p>

			<button  (click)="agregarAlCarrito(articulo, articulo.id)">Agregar al carrito</button>
	
	</ng-template>
</ngb-carousel>
<!-- Fin Productos destacados -->

<input type="input" [(ngModel)]="productSearch" placeholder="Ingrese una palabra clave" (input)="updateProductSearch()">
 
  <select [(ngModel)]="categorySearch" (change)="updateSubCategories()">
    <option value="">Selecciona una categoría</option>
    <option *ngFor="let categoria of category" [value]="categoria">{{categoria}}</option>
  </select>
   <select [(ngModel)]="subCategorySearch" (change)="updateBrand()">
    <option value="">Selecciona una subcategoría</option>
    <option *ngFor="let subCategoria of subCategoryFilter" [value]="subCategoria">{{subCategoria}}</option>
  </select>
  <select [(ngModel)]="brandSearch">
    <option value="">Selecciona una Marca</option>
    <option *ngFor="let marca of brandFilter" [value]="marca">{{marca}}</option>
  </select> 
  <button (click)="filterProducts()">Buscar</button> 
 <button (click)="cleanFilters()">Limpiar filtros</button> 
<h3 class="titleProductos" >NUESTROS PRODUCTOS</h3>
<!-- <button (click)="traerTodo()">Traer</button> -->
  <div class="card" style="width: 18rem" *ngFor="let productos of arrProductsPages">
    <img src={{productos.imagenes[0]}} class="card-img-top" alt="..." style="size: 100px;">
    <div class="card-body">
      <h5 class="title">{{productos.nombre}}</h5>
      <p class="card-text">{{productos.categoria}}</p>
      <p class="card-marca">{{productos.marca}}</p>
      <p class="card-precio">Imp. Interno: {{productos.impuesto_interno}} %</p>
      <p class="card-precio">IVA: {{productos.iva}} %</p>
      <p class="card-precio">Precio: U$S {{productos.precio}}</p>
      <a href="#modal1" (click)="modal(productos)">Ver Más...</a>
    </div>
    <button (click)="agregarAlCarrito(productos, productos.id)" style="margin-bottom: 10px; text-align: center;">Agregar al carrito</button>
  </div>
  <!-- MODAL PARA MOSTRAR DATOS DE LA CARD -->
  <div id="modal1" class="modalmask" *ngIf="selectedProduct">
    <div class="modalbox movedown">
      <a href="#close" title="Cerrar" class="close">X</a>
      <div class="card-body">
        <h4>{{selectedProduct.nombre}}</h4>
        <img src={{selectedProduct.imagenes[0]}} class="card-img-top" style="width: 40%;height: 40%;" alt="...">      
        <p class="card-precio">Imp. Interno: {{selectedProduct.impuesto_interno}} %</p>
        <p class="card-precio">IVA: {{selectedProduct.iva}} %</p>
        <p> Descripción: {{selectedProduct.descripcion}}</p>
      </div>
    </div>
  </div>
  <!-- ------------------------------------------------ -->

  <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
     <ul class="pagination justify-content-center" *ngIf="filterArray.length>0">
      <li class="page-item"><a class="page-link" *ngIf="visible!=this.numberPages"(click)="firstPage(filterArray)"><<</a></li>
      <li class="page-item"><a class="page-link "*ngIf="visible!=this.numberPages"(click)="afterPage(filterArray)"><</a></li>
      <li class="page-item"><a class="page-link">{{this.numberPages}}</a></li>
      <li class="page-item"><a class="page-link"*ngIf="visible!=19"(click)="nextPage(filterArray)">></a></li>
      <li class="page-item"><a class="page-link" *ngIf="visible!=19"(click)="lastPage(filterArray)">>></a></li>    
    </ul> 
    <ul class="pagination justify-content-center" *ngIf="filterArray.length===0">
      <li class="page-item"><a class="page-link" *ngIf="visible!=this.numberPages+1"(click)="firstPage(arrProducts)"><<</a></li>
      <li class="page-item"><a class="page-link "*ngIf="visible!=this.numberPages+1"(click)="afterPage(arrProducts)"><</a></li>
      <li class="page-item"><a class="page-link">{{this.numberPages}}</a></li>
      <li class="page-item"><a class="page-link"*ngIf="visible!=19"(click)="nextPage(arrProducts)">></a></li>
      <li class="page-item"><a class="page-link"*ngIf="visible!=19"(click)="lastPage(arrProducts)">>></a></li>    
    </ul> 
  </nav>

 