.container-card{
text-align: center;
}

.container-shop{
  width: 90%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 10px 10px #c7bebe59;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 10px;
  height: auto;
}

.container-shopDestacado{
  width: 60%;
  margin-left: 20%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 2px 10px 10px #c7bebe59;
  padding-bottom: 25px;
  padding-top: 25px;
  margin-bottom: 10px;
  height: auto;
}

.prodDol{
  display: flex;
  flex-direction: row;
}

.titleProductos{
  color: #107997;
  text-align: center;
  padding-top: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 20px;
}

.card{
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 2%;
  max-width: 100%; 
  max-height:100%; 
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
}

.card:hover{
    border-color: #107997;
}

.title{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Limita a 2 renglones */
  overflow: hidden;
  text-align: center;
  margin-bottom: 30px;
}

/* Inicio Productos destacados */
.fondoCarrousel{
  background-color: lightgrey;
  padding-top: 15px;
  padding-bottom: 35px;
  text-align: center;
}

.fondoCarrousel img{
  width: 250px;
  height: 250px;
}


/*Movimientos*/
.movedown {
  margin: 0 auto;
  max-height: 100%; 
  overflow-y: auto; 
  
}
.rotate {
  margin: 10% auto;
  -webkit-transform: scale(-5,-5);
  transform: scale(-5,-5);
}
.resize {
  margin: 10% auto;
  width:0;
  height:0;

}


/*Boton de cerrar*/
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius:3px;

}

.close:hover {
  background: #107997;
  color:#222;
}
/* Fin Productos destacados */

.container-pages button {
  background-color:  lightgray;
  margin-left: 5px;
  margin-bottom: 10px;
  border-color: #107997;
  width: 60px;
  height: 50px;
  text-align: center; 
  border-radius: 10px;
}

.container-pages a{
  background-color:  lightgray;
  color: #107997;
  border: none;
  font-weight: bold;
  
}

.mat-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}
.page-item{
  color:green
}
.form-container {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 15px;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
}
/* Estilo para los elementos de entrada de texto y select */
input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

/* Estilo para el botón de búsqueda */
/* button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
} */

/* Estilo para el botón de limpiar filtros */
button.clear {
  background-color: #107997;
  margin-left: 10px;
  color: white;
  font-weight: bold;
  margin-top: 2.5px;
}
select,input {
  color: #107997; /* Color del texto no seleccionado */
  font-weight: bold; 
}
input::placeholder {
  color: #107997; /* Color del texto no seleccionado */
  font-weight: bold; 
}

select option,input option {
  color: #107997; /* Color del texto de las opciones no seleccionadas */
  font-weight: bold;
}

select:focus {
  border: 1px solid #107997;
}
select option:hover
 {
  background-color: #4CAF50; /* Color de fondo de la opción al pasar el ratón o al enfocarla */
  color: #fff; /* Color del texto de la opción al pasar el ratón o al enfocarla */
}

.body{
  background-color: #ebebeb;
}


.fondoDestacado{
  box-shadow: 2px 10px 20px #b0b3b2;
}

.filtros{
  background-color: coral;
  box-shadow: 2px 10px 20px #b0b3b2;
  /* margin-top: 10px;
  margin-bottom: 10px; */
}

.espaciador{
  width: 100%;
  height: 70px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 10px 10px #d2cccc;
  position: relative;
}

.gris{
  width: 100%;
  height: 50px;
  background-color: #ebebeb;
}

.gris2{
  width: 100%;
  height: 20px;
  background-color: #ebebeb;
}

.ordenFiltro{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
}

.botonera{
  margin-top: 20px;
  margin-bottom: 25px;
}

.botones button mat-icon{
  border-radius: 10px;
}

.confirmation-dialog {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 10px 10px #c7bebe59;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  width: 40%;
}

.detalle{
  display: flex;
  flex-direction: column;
  margin: 0 5px;
  text-align: center;
  max-height: 600px;
  overflow: auto; 
  
  /* box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
  background-color: #fff; */
}

.detalle h4{
color: #107997;
margin-top: 10px;
margin-bottom: 15px;
}

.interno{
  width: 90%;
  margin-left: 5%;
  height: 90%;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.datos{
  margin-left: 10px;
  margin-right: 10px;
}

.cuadrito {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  text-align: center;
  position: fixed;
  right: 20px;
  transform: translateY(-50%);
}

.cuadrito p {
  margin: 5px 0;
}

.cuadrito span {
  font-weight: bold;
}

.posCuadrito{
  width: 100%;
}