.card {
    max-width: 300px;
    margin-bottom: 8px;
  }

.card img{
  width: 250px;
  height: 250px;
  margin-left: 25px;
}

.card button{
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}

.galeriaCard{
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  flex-wrap: wrap;
}

.formatoArticulos{
  text-align: center;
  margin: 10px;
  background-color: lightgrey;
}

.formAgregar{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-top: 50px;
  padding-top: 15px;
  background-color: lightgrey;
}

.izquierda{
  width: 50%;
  background-color: azure;
}

.izquierda mat-select{
  background-color: coral;
  width: 70%;
}

.izquierda button{
  width: 20%;
  margin-left: 5%;
}

.derecha{
  width: 50%;
}

.derecha mat-select{
  background-color: coral;
  width: 70%;
}

.derecha button{
  width: 20%;
  margin-left: 5%;
}

.bloqueos{
  width: 100%;
}

.bloqueos h3{
  text-align: center;
  background-color: brown;
}

.estructura{
  display: flex;
  flex-direction: row ;
}