<app-encabezado></app-encabezado>

<div class="body">
    <div class="gris"></div>
    <div class="container contenedor">
        <div class="bloqueos">
            <h4 style="color: #107997;font-weight: bold;">GESTION DE CATEGORIAS</h4>
            <div class="estructura">
                <div class="izquierda">
                    <div>
                        <h6 style="color: #107997; font-weight: bold;">CATEGORIAS DISPONIBLES</h6>
                    </div>
                    <div class="bordes">
                        <mat-select id="aBloquear" *ngIf="onlyCategory">
                            <mat-option *ngFor="let category of onlyCategory"
                                [value]="category">{{category}}</mat-option>
                        </mat-select>
                        <button style="background-color: #107997;color:  white;" (click)="altaBloqueo()"
                            mat-raised-button color>Bloquear</button>
                    </div>
                </div>
                <div class="derecha">
                    <div>
                        <h6 style="color: #107997; font-weight: bold;">CATEGORÍAS BLOQUEADAS</h6>
                    </div>
                    <div class="bordes">
                        <mat-select id="aDesbloquear">
                            <mat-option *ngFor="let bloqueado of losBloqueados"
                                [value]="bloqueado">{{bloqueado.categoria}}</mat-option>
                        </mat-select>
                        <button style="background-color: #107997;color:  white;" (click)="bajaBloqueo()"
                            mat-raised-button>Desbloquear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contenedor">
        <div class="bloqueosApi">
            <h4 style="color: #107997;font-weight: bold;">GESTION DE APIs</h4>
            <div class="formato">
                <div>
                    <h6 style="color: #107997; font-weight: bold;">
                        Estado actual API Elite: <span>{{ estadoApi }}</span>
                    </h6>
                </div>
                <div class="botonesApi">
                    <button [disabled]=this.validadorApi style="background-color: #107997;color:  white;" (click)="altaApi()" mat-raised-button color>Activar</button>
                    <button [disabled]=!this.validadorApi style="background-color: #107997;color:  white;" (click)="bajaApi()" mat-raised-button color>Desactivar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="formatoArticulos container" *ngIf="modalFormatoArticulos">
        <h4 style="color: #107997;font-weight: bold;">ARTICULOS ACTUALES</h4>
        <div class="galeriaCard container">
            <div *ngFor="let articulo of productosHot">

                <div class="card">
                    <img src="{{articulo.imagenes}}">
                    <h6>{{articulo.nombre}}</h6>
                    <h6>Precio: ${{articulo.precio}}</h6>
                    <h6>IVA: {{articulo.iva}}%</h6>
                    <div class="duplaBoton">
                        <button (click)="modificar(articulo.id)" mat-raised-button
                            style="background-color: #107997;color:  white;">Modificar</button>
                        <button (click)="borrarPorId(articulo.id)" mat-raised-button
                            style="background-color: #107997;color:  white;">Borrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="confirmation-dialog" *ngIf="showConfirmationDelProd">
        <div class="dialog-content">
            <h4>¿Está seguro que desea eliminar el producto?</h4>
            <div style="text-align: center;">
                <button style="background-color: #107997;color: white;" mat-raised-button color="primary" (click)="confirmDel()">Confirmar</button>
                <button style="background-color: #107997;color: white;" mat-raised-button color="primary" (click)="cancelProd()">Cancelar</button>
            </div>
        </div>
    </div>

    <div class="formAgregar" *ngIf="modalActivo">
        <div class="formularios">
            <h4 style="color: #107997;font-weight: bold;">MODIFICAR PRODUCTOS</h4>
            <div>
                <div class="pseudoCard">
                    <form [formGroup]="modificarProd" (ngSubmit)="agregarProd('m')">

                        <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%">
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Nombre</mat-label>
                                    <input matInput formControlName="nombreM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Precio</mat-label>
                                    <input matInput formControlName="precioM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Iva</mat-label>
                                    <mat-select formControlName="ivaM">
                                        <mat-option *ngFor="let ivaOption of tablaIva" [value]="ivaOption.monto">
                                            {{ ivaOption.monto }} %
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Impuesto_interno</mat-label>
                                    <input matInput formControlName="impuesto_internoM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Categoria</mat-label>
                                    <input matInput formControlName="categoriaM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Subcategoria</mat-label>
                                    <input matInput formControlName="subcategoriaM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Descripción</mat-label>
                                    <input matInput formControlName="descripcionM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Marca</mat-label>
                                    <input matInput formControlName="marcaM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Destacado</mat-label>
                                    <mat-select formControlName="destacadoM">
                                        <mat-option value="true">SI</mat-option>
                                        <mat-option value="false">NO</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Imagen</mat-label>
                                    <input matInput formControlName="imagenesM">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Imagen</mat-label>
                                    <input matInput formControlName="imagenesM2">
                                </mat-form-field>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Imagen</mat-label>
                                    <input matInput formControlName="imagenesM3">
                                </mat-form-field>
                            </mat-grid-tile>

                        </mat-grid-list>
                        <div class="botonera">
                            <button type="submit" mat-raised-button
                                style="float: center;margin-bottom: 40px;background-color: #107997;color:  white;"
                                [disabled]="!modificarProd.valid">Actualizar</button>
                            <button (click)="cerrarModal()" type="text" mat-raised-button
                                style="float: center;margin-bottom: 40px;background-color: #107997;color:  white;">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="formAgregar" *ngIf="!modalActivo">
        <div class="formularios">
            <h4 style="color: #107997;font-weight: bold;">AGREGAR PRODUCTOS</h4>
            <div class="pseudoCard">
                <form [formGroup]="altaProd" (ngSubmit)="agregarProd('a')">
                    <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%">
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Nombre</mat-label>
                                <input matInput formControlName="nombre">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Precio</mat-label>
                                <input matInput formControlName="precio">
                            </mat-form-field>
                        </mat-grid-tile>. <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Iva</mat-label>
                                <mat-select formControlName="iva">
                                    <mat-option *ngFor="let ivaOption of tablaIva" [value]="ivaOption.monto">
                                        {{ ivaOption.monto }} %
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Impuesto_interno</mat-label>
                                <input matInput formControlName="impuesto_interno">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Categoria</mat-label>
                                <input matInput formControlName="categoria">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Subcategoria</mat-label>
                                <input matInput formControlName="subcategoria">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Descripción</mat-label>
                                <input matInput formControlName="descripcion">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Marca</mat-label>
                                <input matInput formControlName="marca">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Destacado</mat-label>
                                <mat-select formControlName="destacado">
                                    <mat-option value="true">SI</mat-option>
                                    <mat-option value="false">NO</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Imagen principal</mat-label>
                                <input matInput formControlName="imagenes">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Imagen secundaria</mat-label>
                                <input matInput formControlName="imagenes2">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="2" [rowspan]="1">
                            <mat-form-field>
                                <mat-label>Imagen secundaria</mat-label>
                                <input matInput formControlName="imagenes3">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button type="submit" mat-raised-button
                        style="float: center;margin-bottom: 40px ;background-color: #107997;color:  white;"
                        [disabled]="!altaProd.valid">Aceptar</button>
                </form>
            </div>
        </div>

    </div>

    <div *ngIf="_spinner.getSpinner()" class="spinner-container">
        <app-spinner></app-spinner>
    </div>
    <div class="gris"></div>
</div>


<app-footer></app-footer>