.card {
    max-width: 300px;
    margin-bottom: 8px;
  }

.card img{
  width: 250px;
  height: 250px;
  margin-left: 25px;
}

.card button{
  width: 40%;
  margin-left: 5px;
  margin-right: 5px;
}

.card h6{
  text-align: center;
}

.galeriaCard{
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  flex-wrap: wrap;
}

.formatoArticulos{
  background-color: lightgrey;
}

.formatoArticulos h3{
  padding-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.formAgregar{
  width: 80%;
  margin-left: 10%;
  text-align: center;
  margin-top: 50px;
  padding-top: 15px;
  background-color: lightgrey;
}

.izquierda{
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
}

.izquierda mat-select{
  width: 60%;
  background-color: white;
}

.izquierda button{
  width: 30%;
  margin-left: 5%;
}

.derecha{
  width: 40%;
  margin-left: 5%;
}

.derecha mat-select{
  width: 60%;
  background-color: white;
}

.derecha button{
  width: 30%;
  margin-left: 5%;
}

.bloqueos{
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-top: 50px;
  border: 1px solid #ccc;
  padding: 20px; 
  border-radius: 5px;
  margin-bottom: 50px;
  background-color: lightgrey;
}

.bloqueos h3{
  margin-bottom: 20px;
}

.estructura{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.card .duplaBoton{
  padding-bottom: 20px;
}