<app-encabezado></app-encabezado>
<app-navbar></app-navbar>

<div class="formatoArticulos">
    <h3>Articulos actuales</h3>
    <div class="galeriaCard container">
        <div *ngFor="let articulo of productosHot">
        
            <div class="card">
                <img src="{{articulo.imagenes}}">
                <h6>Articulo: {{articulo.nombre}}</h6>
                <h6>Precio: {{articulo.precio}}</h6>
                <div>
                    <button (click)="modificar(articulo.id)">Modificar</button>
                    <button (click)="borrarPorId(articulo.id)">Borrar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="formAgregar" *ngIf="modalActivo">
    <div>
        <h3>Modificar producto</h3>
        <div>
            <form [formGroup]="modificarProd" (ngSubmit)="agregarProd('m')"> 
            
                <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombreM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Precio</mat-label>
                            <input matInput formControlName="precioM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Iva</mat-label>
                            <input matInput formControlName="ivaM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Impuesto_interno</mat-label>
                            <input matInput formControlName="impuesto_internoM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Categoria</mat-label>
                            <input matInput formControlName="categoriaM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Subcategoria</mat-label>
                            <input matInput formControlName="subcategoriaM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Descripción</mat-label>
                            <input matInput formControlName="descripcionM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Marca</mat-label>
                            <input matInput formControlName="marcaM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Imagen</mat-label>
                            <input matInput formControlName="imagenesM">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Destacado</mat-label>
                            <mat-select formControlName="destacadoM">
                                <mat-option value="true">True</mat-option>
                                <mat-option value="false">False</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <button  type="submit" mat-raised-button color="primary" style="float: center;margin-bottom: 40px;">Actualizar</button>  
                <button  (click)="cerrarModal()" type="text" mat-raised-button color="primary" style="float: center;margin-bottom: 40px;">Cancelar</button>  
            </form>
        </div>
    </div>
</div>

<div class="formAgregar" *ngIf="!modalActivo">
    <h3>Agregar productos</h3>
    <div>
        <form [formGroup]="altaProd" (ngSubmit)="agregarProd('a')"> 
            <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Nombre</mat-label>
                        <input matInput formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Precio</mat-label>
                        <input matInput formControlName="precio">
                    </mat-form-field>
                </mat-grid-tile>. <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Iva</mat-label>
                        <input matInput formControlName="iva">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Impuesto_interno</mat-label>
                        <input matInput formControlName="impuesto_interno">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Categoria</mat-label>
                        <input matInput formControlName="categoria">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Subcategoria</mat-label>
                        <input matInput formControlName="subcategoria">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Descripción</mat-label>
                        <input matInput formControlName="descripcion">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Marca</mat-label>
                        <input matInput formControlName="marca">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Imagen</mat-label>
                        <input matInput formControlName="imagenes">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                    <mat-form-field>
                        <mat-label>Destacado</mat-label>
                        <mat-select formControlName="destacado">
                            <mat-option value="true">True</mat-option>
                            <mat-option value="false">False</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>
            <button  type="submit" mat-raised-button color="primary" style="float: center;margin-bottom: 40px;">Aceptar</button>  
        </form>
    </div>
</div>



