<div class="menuLogin">
    <a *ngIf="esAdmin" class="nav-link" href="./gestionUsr">Gestión de Usuarios</a>
    <a *ngIf="esAdmin" class="nav-link" href="./gestion">Gestión de Productos</a>
    <a *ngIf="esAdmin" class="nav-link" href="./gestionPedido">Gestión de Pedidos</a>
    <a *ngIf="!habilitar" class="nav-link" (click)="habilitarLogin()">Login</a>
    <a *ngIf="habilitar" class="nav-link userId">Usuario: {{this.usuario}}</a>
    <a *ngIf="habilitar" class="nav-link" (click)="desloguear()" href="">LogOut</a>

    <app-carrito [usuario]="usuario"[nombre]="nombre"[apellido]="apellido"[celular]="celular" *ngIf="hayUsuario" class="nav-link"></app-carrito>
</div>

<div class="confirmation-dialog" *ngIf="loginProgress || dataService.loginProgressData">
    <div class="dialog-content">
        <div class="login" *ngIf="login">
            <form [formGroup]="loginUsr" (ngSubmit)="ingresoUsr()"> 
                <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="contrasena">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="centrado">
                    <button  type="submit" mat-raised-button color="primary" style="margin-bottom: 40px;">Ingresar</button>  
                </div>
            </form>
            <div class="registroycancel">
                <button (click)="irARegistro()" mat-raised-button color="primary">Registrarme</button>  
                <button (click)="cerrarLogin()" mat-raised-button color="primary">Cancelar</button>  
            </div>
        </div>
        <div class="registro" *ngIf="!login">
            <form [formGroup]="formRegistro" class="formInicio" (ngSubmit)="solicitarAlta()">
                <mat-grid-list cols="8" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="contrasena">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="apellido">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="mail">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>DNI</mat-label>
                            <input matInput formControlName="dni">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Domicilio</mat-label>
                            <input matInput formControlName="domicilio">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Telefono</mat-label>
                            <input matInput formControlName="telefono">
                        </mat-form-field>
                    </mat-grid-tile>


                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Provincia</mat-label>
                            <input matInput formControlName="provincia">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Localidad</mat-label>
                            <input matInput formControlName="localidad">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Codigo Postal</mat-label>
                            <input matInput formControlName="codigoPostal">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Observaciones</mat-label>
                            <input matInput formControlName="observaciones">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Situación Fiscal</mat-label>
                            <mat-select formControlName="estadoFiscal">
                                <mat-option value="ivaRespInscripto">IVA Responsable Inscripto</mat-option>
                                <mat-option value="ivaExento">IVA Exento</mat-option>
                                <mat-option value="monotributista">Monotributista</mat-option>
                                <mat-option value="consumidorFinal">Consumidor final</mat-option>
                                <mat-option value="indefinido">No lo sé</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-grid-tile>

                </mat-grid-list>
                <button type="submit" mat-raised-button color="primary" [disabled]="!formRegistro.valid">Registrarme</button>  
            </form>
            <button class="ingreso" (click)="irALogin()" mat-raised-button color="primary">Cancelar</button>  
        </div>
    </div>
</div>

<div class="confirmation-dialog" *ngIf="actualizarPass">
    <div class="dialog-content">
        <div class="login">
            
            <form [formGroup]="updateUsr" (ngSubmit)="actualizarUsr()"> 
                <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Contraseña Actual</mat-label>
                            <input matInput formControlName="contrasenaOld">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Contraseña Nueva</mat-label>
                            <input matInput formControlName="contrasenaNew">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Repita Contraseña nueva</mat-label>
                            <input matInput formControlName="contrasenaNewFactor">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="centrado">
                    <button  type="submit" mat-raised-button color="primary" style="margin-bottom: 40px;">Actualizar</button>  
                </div>
            </form>
            <div class="registroycancel">
                <button (click)="cerrarUpdate()" mat-raised-button color="primary">Cancelar</button>  
            </div>
        </div>
    </div>   
</div>     