.menuLogin{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    
}
.menuLogin a{
  margin: 0 20px;
  
}

.fondoLogin{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    margin: 0 5px;
    text-align: center;
    /* box-shadow: 2px 10px 20px #b0b3b2;
    border-radius: 10px;
    background-color: #fff; */
}

.login h4{
  color: #107997;
  margin-top: 10px;
  margin-bottom: 15px;
}

.datos{
  text-align: center;
}

.confirmation-dialog {
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 10px 10px #c7bebe59;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    width: 40%;
  }

  .centrado{
    text-align: center;
    margin-top: 10px;
    
  }

  .centrado button{
    width: 25%;
    margin:0 5px;
    background-color:#107997;
    color: white;  
  }

  .buttonUpload button{
    width: 40%;
    margin:0 5px;
    background-color:#107997;
    color: white;  
  }
  
  .carroYLogin{
    display: inline-flex;
     margin: 0 50px;
    margin-top: 4%;
  }

  .containerLogin{
         display: flex;
        /* margin-bottom: 10px; */
  }

    .carroYLogin .app-carrito,
  .carroYLogin a {
    /* margin-right: 40px; 
    margin-left: 10px; */
    margin: 0 10px;
  }  

 .registroycancel{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-bottom: 20px;
      a{
    cursor: pointer;;
    }
 }

  .formInicio{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5%;
}

.ingreso{
    width: 40%;
    margin-left: 30%;
    margin-top: 15px;
}

.userId{
  text-decoration:dotted ;
}

.hover-pointer:hover {
  cursor: pointer;
}

.menu{
  display: flex;
  align-items: center;
}

.fondoLogin{
  width: 40px;
  height: 40px;
  /* background-color: lightgray; */
  border-radius: 50%;
}

.loginIngreso{
  width: 70%;
  margin-left: 15%;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 25px;
}

.registroUsr{
  width: 90%;
  margin-left: 5%;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.registro{
  text-align: center;
}

.registro h4{
  color: #107997;
  margin-top: 10px;
  margin-bottom: 15px;
}
.cambioPass{
  text-align: end;
}

.cambioPass p{
  color:#107997;
  font-size: x-small;
  font-weight: bold;
  cursor: pointer;
  margin-right: 15px;
}

.actualizacion{
  width: 90%;
  margin-left: 5%;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 25px;
}

.cambio2{
  width: 90%;
  margin-left: 5%;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
  background-color: #fff;
  margin-bottom: 25px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.cambio2 mat-label{
  font-size: small;
}

.nombreUser p{
  margin-top: 5%;
}