<div class="menuLogin">
    <a *ngIf="esAdmin" class="nav-link" href="./gestionUsr">Gestión de Usuarios</a>
    <a *ngIf="esAdmin" class="nav-link" href="./gestion">Gestión de Productos</a>
    <a *ngIf="esAdmin" class="nav-link" href="./gestionPedido">Gestión de Pedidos</a>
    <a *ngIf="!habilitar" class="nav-link" (click)="habilitarLogin()">Login</a>
    <a *ngIf="habilitar" class="nav-link" (click)="desloguear()" href="">LogOut</a>
    <app-carrito [usuario]="usuario"[nombre]="nombre"[apellido]="apellido"[celular]="celular" *ngIf="hayUsuario" class="nav-link"></app-carrito>
</div>

<div class="confirmation-dialog" *ngIf="loginProgress">
    <div class="dialog-content">
        <div class="login" *ngIf="login">
            <form [formGroup]="loginUsr" (ngSubmit)="ingresoUsr()"> 
                <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Usuario</mat-label>
                            <input matInput formControlName="usuario">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="contrasena">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <div class="centrado">
                    <button  type="submit" mat-raised-button color="primary" style="margin-bottom: 40px;">Ingresar</button>  
                </div>
            </form>
            <div class="registroycancel">
                <button (click)="irARegistro()" mat-raised-button color="primary">Registrarme</button>  
                <button (click)="cerrarLogin()" mat-raised-button color="primary">Cancelar</button>  
            </div>
        </div>
        <div class="registro" *ngIf="!login">
            <form [formGroup]="formRegistro" class="formInicio" (ngSubmit)="solicitarAlta()">
                <mat-grid-list cols="8" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Nombre</mat-label>
                            <input matInput formControlName="nombre">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Contraseña</mat-label>
                            <input matInput formControlName="contrasena">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Apellido</mat-label>
                            <input matInput formControlName="apellido">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input matInput formControlName="mail">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>DNI</mat-label>
                            <input matInput formControlName="dni">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Domicilio</mat-label>
                            <input matInput formControlName="domicilio">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="4" [rowspan]="1">
                        <mat-form-field>
                            <mat-label>Telefono</mat-label>
                            <input matInput formControlName="telefono">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>
                <button type="submit" mat-raised-button color="primary">Registrarme</button>  
            </form>
            <button class="ingreso" (click)="irALogin()" mat-raised-button color="primary">Cancelar</button>  
        </div>
    </div>
</div>

<!-- <div class="confirmation-dialog" *ngIf="carritoHabilitado">
    <div class="modalCarrito">

        <div>
            <h2>Carrito</h2>
            <div class="contenedorCart">
                <div class="losProductos">izquierda</div>
                <div class="resumenCarrito">
                    <h4>Resumen</h4>
                    <div class="container ">
                        <span>Productos: </span>
                        <span>8</span>
                    </div>
                    <div>
                        <span>Costo Total:</span>
                        <span>$8500</span>
                    </div>
                    
                </div>
            </div>
        </div>
        <button (click)="ocultarCarrito()">Cerrar</button>
    </div>
</div> -->