<!-- <div class="total">
    <div class="logo">
        <nav class="navbar">
            <div class="logo">
                    <a class="navbar-brand" href="#">
                        <img src="img src=../../../assets/Logo.png" alt="logo" width="80px" height="80px">
                    </a>
            </div>
        </nav>
    </div>
    <div class="navegacion">
        <app-navbar></app-navbar>
    </div>
    <div class="login">
        <app-login></app-login>
    </div>
</div> -->
<div class="backg">
    <div class="row justify-content-center total">
        <div class="col-12 col-sm-12 col-md-12 col-lg-2 col-xl-2 logo">
            <nav class="navbar">
                <div class="logo">
                        <a class="navbar-brand" href="#">
                            <img src="img src=../../../assets/Logo.png" alt="logo" width="80px" height="80px">
                        </a>
                </div>
            </nav>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-6 col-xl-6 navegacion">
            <app-navbar></app-navbar>
        </div>
        <div class="col-12 col-sm-12 col-md-8 col-lg-4 col-xl-4 login">
            <app-login></app-login>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 cuadrito">
            <p>Valor dolar: <span>${{ valorDolarActual }} - <strong>Fuente: </strong>Banco Nación</span></p>
            <!-- <p>Fuente: Banco Nación</p> -->
        </div>
    </div>
 
</div>
