.logo{
    /* width: 10%; */
    height: 100px;  
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.navegacion{
    /* width: 60%; */
    height: 100px;  
}

.login{
    background-color: black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;  
}

/* .total{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
} */

/* @media (max-width: 990px) {
    .logo {
      display: none;
    }
  } */


.logo {
    display: flex;
    justify-content: center;
}

.backg{
    background-color: black;
}