.izquierda{
    width: 20%;
    text-align: center;
}

.derecha{
    width: 80%;
    font-size: 2REM;
    }

.encabezado{
    display: flex;
    height: 200px;
    align-items: center;
    background-color: lightgrey;
}

