<app-encabezado></app-encabezado>
<app-navbar></app-navbar>

<div class="formatoArticulos">
    <h3>Solicitudes pendientes</h3>
    <div class="galeriaCard">
        <div *ngFor="let solicitud of usuariosEnEspera">
        
            <div class="card">
                <h6><strong>DNI: </strong>{{solicitud.dni}}</h6>
                <h6>Nombre: {{solicitud.nombre}}</h6>
                <h6>Apellido: {{solicitud.apellido}}</h6>
                <h6>Mail: {{solicitud.mail}}</h6>
                <h6>Telefono: {{solicitud.celular}}</h6>
                <h6>Domicilio: {{solicitud.domicilio}}</h6>
                <div>
                    <button (click)="aceptarUsr(solicitud.id)" mat-raised-button color="primary">Aceptar</button>  
                    <button (click)="eliminarSolicitud(solicitud.id)" mat-raised-button color="primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br>
<!-- <div class="formatoArticulos">
    <h3>Usuarios registrados</h3>
    <div class="galeriaCard">
        <div *ngFor="let usuario of usuariosRegistrados">
        
            <div class="card">
                <h6>DNI: {{usuario.dni}}</h6>
                <h6>Nombre: {{usuario.nombre}}</h6>
                <h6>Apellido: {{usuario.apellido}}</h6>
                <h6>Mail: {{usuario.mail}}</h6>
                <h6>Telefono: {{usuario.celular}}</h6>
                <h6>Domicilio: {{usuario.domicilio}}</h6>
                <div>
                    <button (click)="blanquearClave(usuario)" mat-raised-button color="primary">Setear Password</button>
                    <button (click)="eliminarUsr(usuario.id)" mat-raised-button color="primary">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="confirmation-dialog" *ngIf="showConfirmationDialogUsuario">
    <div class="dialog-content">
        <h4>¿Está seguro que desea eliminar el usuario?</h4>
        <div style="text-align: center;">
            <button mat-raised-button color="primary"
                (click)="confirm()">Confirmar</button>
            <button mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div>

<div class="confirmation-dialog" *ngIf="showConfirmationDialogSolicitud">
    <div class="dialog-content">
        <h4>¿Está seguro que desea eliminar la solicitud?</h4>
        <div style="text-align: center;">
            <button mat-raised-button color="primary"
                (click)="confirmSol()">Confirmar</button>
            <button mat-raised-button color="primary" (click)="cancelSol()">Cancelar</button>
        </div>
    </div>
</div>

<div class="confirmation-dialog" *ngIf="showConfirmationDialogModificacion">
    <div class="dialog-content">
        <h4>¿Está seguro que desea setear la clave?</h4>
        <div style="text-align: center;">
            <button mat-raised-button color="primary"
                (click)="confirmUpdate()">Confirmar</button>
            <button mat-raised-button color="primary" (click)="cancelUpdate()">Cancelar</button>
        </div>
    </div>
</div>

<h3>Usuarios registrados</h3>
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element">{{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
    </ng-container>


    <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="mail" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mail</th>
        <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Telefono</th>
        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
    </ng-container>

    <ng-container matColumnDef="domicilio" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Domicilio</th>
        <td mat-cell *matCellDef="let element"> {{element.domicilio}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>
        <td mat-cell *matCellDef="let element"> <button (click)="blanquearClave(element)" mat-raised-button color="primary">Setear Password</button><button (click)="eliminarUsr(element.id)" mat-raised-button color="primary">Eliminar</button> </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="">
</mat-paginator>