<app-encabezado></app-encabezado>
<div class="gris"></div>
<div class="body">
    <div class="formatoArticulos" *ngIf="showSolicitudPendiente">
        <h4 style="color: #107997;font-weight: bold">SOLICITUDES PENDIENTES</h4>
        <div class="galeriaCard">
            <div *ngFor="let solicitud of usuariosEnEspera">
    
                <div class="card">
                    <h6><strong>DNI: </strong>{{solicitud.dni}}</h6>
                    <h6><strong>Nombre: </strong>{{solicitud.nombre}}</h6>
                    <h6><strong>Apellido: </strong>{{solicitud.apellido}}</h6>
                    <h6><strong>Mail: </strong>{{solicitud.mail}}</h6>
                    <h6><strong>Telefono: </strong>{{solicitud.celular}}</h6>
                    <h6><strong>Domicilio: </strong>{{solicitud.domicilio}}</h6>
                    <h6><strong>Provincia: </strong>{{solicitud.provincia}}</h6>
                    <h6><strong>Localidad: </strong>{{solicitud.localidad}}</h6>
                    <h6><strong>Codigo Postal: </strong>{{solicitud.codigoPostal}}</h6>
                    <h6><strong>Situación Fiscal: </strong>{{solicitud.estadoFiscal}}</h6>
                    <h6 *ngIf="solicitud.cuit"><strong>CUIT: </strong>{{solicitud.cuit}}</h6>
                    <h6 *ngIf="solicitud.observaciones"><strong>Observaciones: </strong>{{solicitud.observaciones}}</h6>
                    <div class="botonera">
                        <button (click)="aceptarUsr(solicitud.id)"
                            style="background-color: #107997;color:  white;margin-bottom: 15px;"
                            mat-raised-button>Aceptar</button>
                        <button (click)="eliminarSolicitud(solicitud.id)"
                            style="background-color: #107997;color:  white;margin-bottom: 15px;"
                            mat-raised-button>Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    
    
    <div class="confirmation-dialog" *ngIf="showConfirmationDialogUsuario">
        <div class="dialog-content">
            <h4>¿Está seguro que desea eliminar el usuario?</h4>
            <div style="text-align: center;">
                <button style="background-color: #107997;" mat-raised-button color="primary" (click)="confirm()">Confirmar</button>
                <button style="background-color: #107997;" mat-raised-button color="primary" (click)="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
    
    <div class="confirmation-dialog" *ngIf="showConfirmationDialogSolicitud">
        <div class="dialog-content">
            <h4>¿Está seguro que desea eliminar la solicitud?</h4>
            <div style="text-align: center;">
                <button style="background-color: #107997;" mat-raised-button color="primary" (click)="confirmSol()">Confirmar</button>
                <button style="background-color: #107997;" mat-raised-button color="primary" (click)="cancelSol()">Cancelar</button>
            </div>
        </div>
    </div>
    
    <div class="confirmation-dialog" *ngIf="showConfirmationDialogModificacion">
        <div class="dialog-content">
            <h4>¿Está seguro que desea setear la clave?</h4>
            <div style="text-align: center;">
                <button style="background-color: #107997;" mat-raised-button color="primary" (click)="confirmUpdate()">Confirmar</button>
                <button style="background-color: #107997;" mat-raised-button color="primary" (click)="cancelUpdate()">Cancelar</button>
            </div>
        </div>
    </div>
    
    <div class="confirmation-dialog" *ngIf="mostrarFicha">
        <div class="dialog-content fondo">
            <div class="datosUsr">
                <h3>Ficha de usuario: {{fichaDetalle.nombre}} {{fichaDetalle.apellido}}</h3>
                <div class="card">
                    <h6><strong>DNI: </strong>{{fichaDetalle.dni}}</h6>
                    <h6>Nombre: {{fichaDetalle.nombre}}</h6>
                    <h6>Apellido: {{fichaDetalle.apellido}}</h6>
                    <h6>Mail: {{fichaDetalle.mail}}</h6>
                    <h6>Telefono: {{fichaDetalle.celular}}</h6>
                    <h6>Domicilio: {{fichaDetalle.domicilio}}</h6>
                    <h6>Provincia: {{fichaDetalle.provincia}}</h6>
                    <h6>Localidad: {{fichaDetalle.localidad}}</h6>
                    <h6>Codigo Postal: {{fichaDetalle.codigoPostal}}</h6>
                    <h6>Situación Fiscal: {{fichaDetalle.estadoFiscal}}</h6>
                    <h6>Observaciones: {{fichaDetalle.observaciones}}</h6>
                </div>
                <div style="text-align: center;">
                    <button mat-raised-button color="primary" (click)="cancelFicha()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="registrados">
        <h4 style="color: #107997; font-weight: bold;">USUARIOS REGISTRADOS</h4>

        <div class="formato">
            <mat-form-field>
                <mat-label>Ingrese usuario a buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda Usuario" #input autocomplete="off">
            </mat-form-field>
        
            <div class="mat-elevation-z8 formatoTabla">
        
                <table mat-table [dataSource]="dataSourceUsuarios" matSort>
                    <ng-container matColumnDef="nombre">
                        <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell *matHeaderCellDef
                            mat-sort-header (click)="ordenarTabla('nombre')"> Nombre
                        </th>
                        <td mat-cell *matCellDef="let element">{{element.nombre}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="apellido">
                        <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell *matHeaderCellDef
                            mat-sort-header (click)="ordenarTabla('apellido')"> Apellido </th>
                        <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="dni">
                        <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell *matHeaderCellDef>
                            DNI</th>
                        <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="telefono">
                        <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell *matHeaderCellDef>
                            Telefono</th>
                        <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="estadoFiscal">
                        <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell *matHeaderCellDef>
                            Situación fiscal</th>
                        <td mat-cell *matCellDef="let element"> {{element.estadoFiscal}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="acciones">
                        <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell *matHeaderCellDef>
                            Acciones</th>
                        <td mat-cell *matCellDef="let element">
                            <a (click)="verFicha(element)"><mat-icon style="cursor: pointer;color: #107997;"
                                    title="Ver ficha de Usuario">visibility</mat-icon></a>
                            <a (click)="blanquearClave(element)"><mat-icon style="cursor: pointer;color: #107997;"
                                    title="Resetear Password">refresh</mat-icon></a>
                            <a *ngIf="((element.dni != dama) && (element.dni != caballero))" (click)="eliminarUsr(element.id)"><mat-icon style="cursor: pointer;color: #107997;"
                                    title="Eliminar Usuario">delete</mat-icon></a>

                        </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons itemsPerPageLabel="Pedidos por Página"
                    [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="usuariosRegistrados.length"
                    (page)="onPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>

    <div *ngIf="_spinner.getSpinner()" class="spinner-container">
        <app-spinner></app-spinner>
    </div>
    
    <div class="gris"></div>
</div>
<app-footer></app-footer>