@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.estilosSnackBar {
  text-align: center;
}

.background-color-green {
  --mdc-snackbar-container-color: green !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
}

.background-color-red {
  --mdc-snackbar-container-color: red !important;
  --mdc-snackbar-supporting-text-color: #fff !important;
}


/* .example-spacer {
  flex: 1 1 auto;
} 

/* html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
} */
