.resumenCarrito{
    width: 25%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 20px #b0b3b2;
    margin-left: 3%;
  }
  
  .resumenCarrito h4{
    text-align: center;
  }

  .resumenCarrito button{
    margin-top: 5px;
    width: 70%;
  }
  
  .modalCarrito {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    text-align: center;
  }

  .modalCarrito h1{
    color: #107997;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .modalCarrito h4{
    color: #107997;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  mat-form-field {
    font-size: 14px;
    width: 100%;
}

  .contenedorCart{
    display: flex;
  }
  
  .losProductos{
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 10px 20px #b0b3b2;
    padding-bottom: 25px;
    max-height: 600px;
    overflow: auto; 
    padding-bottom: 25px;
  }

  .carroYcantidad{
    display: flex;
  }

.card{
  margin-top: 25px;
}

.card img{
  width: 90%;
  height: 90%;
  margin-top: 5%;
}

.ordenCard{
  display: flex;
  flex-direction: row;
}

.ordenCard button{
  width: 35px;
  height: 35px;
}

.derArriba{
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
}

.carroImagen{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
}

.carroNombre{
  width: 100%;
  height: 60px;
}

.derAbajo{
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
}

.carritoPrecioU{
  width: 20%;
  height: 70px;
}

.carritoPrecioU table{
  width: 100%;
}

.carritoPrecioT{
  width: 20%;
  height: 70px;
}

.carritoPrecioT table{
  width: 100%;
}

.carritoPrecioIva{
  width: 30%;
}

.carritoBotonera {
  width: 20%;
  height: 70px;
}
.carritoBotonera button {
  margin: 0 5px; 
}

.carritoEliminar{
  width: 10%;
  height: 70px;
}

.formatoCol{
  display: flex;
  flex-direction: column;
}

.ladoDerecho{
  display: flex;
  flex-direction:row ;
}

.arriba{
  display: flex;
  flex-direction: column;
}

.izquierda{
  width: 15%;
  height: 130px;
}

.derecha{
  width: 85%;
  height: 130px;
}

.carrito{
  display: flex;
  flex-direction: row;
}

.ordenCeldas{
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonClose{
  width: 70%;
  text-align: center;
  justify-content: center;
  margin-top: 25px;
}

.buttonClose button{
  margin: 5px
}

.menuLogin{
  display: flex;
  flex-direction: row;
}

.login{
  display: flex;
  flex-direction: column;
}

.confirmation-dialog {
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialog-content h3 {
  margin-top: 0;
}

.dialog-content p {
  margin-bottom: 10px;
}

.dialog-content button {
  margin-right: 10px;
}

.centrado{
  text-align: center;
  
}

.centrado button{
  width: 35%;
  margin:0 5px;
  background-color:#107997;
  color: white;  
}

.datos{
  width: 90%;
  margin-left: 5%;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 40px;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;
}

.aviso{
  width: 70%;
  text-align: center;
}

.matHint{
  font-size: 1rem;
  color: red;
}

.searchPedido mat-form-field{
  margin-top: 30px;
}
.formatoPedidos{
  text-align: center;
  background-color: #fff;
  width: 80%;
  margin-left: 10%;
  box-shadow: 2px 10px 20px #b0b3b2;
  border-radius: 10px;

  padding-top: 15px;
  padding-bottom: 40px;
  margin-bottom: 25px;
}

.gris{
  width: 100%;
  height: 50px;
  background-color: #ebebeb;
}

.body{
  background-color: #ebebeb;
}

.margen{
  margin-bottom: 25px;
}

.datosPrimarios{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 25px;
}

  .pedidosVacios{
  padding-top: 5%;
}  