
<app-encabezado></app-encabezado>
<div class="body">
    <div class="gris"></div>
    <div class="formatoPedidos">
        <h4 style="text-align: center;padding-top: 30px;color:#107997;font-weight: bold;">GESTION DE PEDIDOS</h4>
        <div class="datos">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                <mat-tab label="Pedidos Pendientes">
                    <div class="pedidosVacios" *ngIf="showPedidoVacioPendiente">
                        <h3 style="color: #107997;">No se encuentran pedidos en esta sección</h3>
                    </div>
                    <div class="container" *ngIf="showPedidosPendientes">
                        <div class="searchPedido">
                            <mat-form-field>
                                <mat-label>Ingrese pedido a buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event,dataSourcePedidosPendientes)"
                                    placeholder="Búsqueda Pedido" #input autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="mat-elevation-z8 margen">
        
                            <table mat-table [dataSource]="dataSourcePedidosPendientes" matSort>
                                <ng-container matColumnDef="fecha">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('fecha',dataSourcePedidosPendientes)"> Fecha </th>
                                    <td mat-cell *matCellDef="let element">{{element.fecha}}</td>
                                </ng-container>
        
                                <ng-container matColumnDef="dni">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('idUser',dataSourcePedidosPendientes)">DNI</th>
                                    <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="apellido">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('apellido',dataSourcePedidosPendientes)"> Apellido </th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="nombre">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('nombre',dataSourcePedidosPendientes)">Nombre</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="celular">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Celular</th>
                                    <td mat-cell *matCellDef="let element"> {{element.celular}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="acciones">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header>Acciones</th>
                                    <td mat-cell *matCellDef="let element; let pos = index">
                                        <a
                                            (click)="showModalPendientes(element, pos); actualizarResumen(pos,pedidosPendientes)"><mat-icon
                                                style="cursor: pointer; color: #107997;"
                                                title="Ver Pedido">visibility</mat-icon></a>
                                        <a (click)="AceptarPedido(element.id,'Pedidos Pendientes','Pedidos En Curso')"><mat-icon
                                                style="cursor: pointer;color: #107997;"
                                                title="Aceptar Pedido">check_circle</mat-icon></a>
                                        <a (click)="deletePedidoPendienteId(element.id,'Pedidos Pendientes')"><mat-icon
                                                style="cursor: pointer;color: #107997;"
                                                title="Eliminar Pedido">delete</mat-icon></a>
                                    </td>
                                </ng-container>
        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                                itemsPerPageLabel="Pedidos por Página" [pageSize]="pageSize" [pageIndex]="pageIndex"
                                [length]="pedidosPendientes.length" (page)="onPaginateChange($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Pedidos en Curso">
                    <div class="pedidosVacios" *ngIf="showPedidoVacioCurso">
                        <h3 style="color: #107997;">No se encuentran pedidos en esta sección</h3>
                    </div>
                    <div class="container" *ngIf="showPedidosEnCurso">
                        
                        <div class="searchPedido">
                            <mat-form-field>
                                <mat-label>Ingrese pedido a buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event,dataSourcePedidosEnCurso)"
                                    placeholder="Búsqueda Pedido" #input autocomplete="off">
                            </mat-form-field>
                        </div>
                        <div class="mat-elevation-z8 margen">
        
                            <table mat-table [dataSource]="dataSourcePedidosEnCurso" matSort>
                                <ng-container matColumnDef="fecha">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('fecha',dataSourcePedidosEnCurso)"> Fecha </th>
                                    <td mat-cell *matCellDef="let element">{{element.fecha}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="dni">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('idUser',dataSourcePedidosEnCurso)">DNI</th>
                                    <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="apellido">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('apellido',dataSourcePedidosEnCurso)"> Apellido </th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="nombre">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('nombre',dataSourcePedidosEnCurso)">Nombre</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="acciones">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header>Acciones</th>
                                    <td mat-cell *matCellDef="let element; let pos = index">
                                        <a (click)="showModalEnCurso(element, pos);actualizarResumen(pos,pedidosEncurso)"><mat-icon
                                                style="cursor: pointer;color: #107997;"
                                                title="Ver Pedido">visibility</mat-icon></a>
                                        <a (click)="envioTransporte(element.id);cleanTransporte()" title="Envio Transporte"
                                            style="cursor: pointer; color: #107997;"><mat-icon>
                                                local_shipping</mat-icon> </a>
                                        <!-- <a (click)="AceptarPedido(element.id,'Pedidos En Curso','Pedidos En Transporte')"title="Envio Transporte" style="cursor: pointer;"><mat-icon> local_shipping</mat-icon> </a> -->
                                        <a (click)="AceptarPedido(element.id,'Pedidos En Curso','Pedidos Finalizados')"><mat-icon
                                                style="cursor: pointer;color: #107997;"
                                                title="Finalizar Pedido">check_circle</mat-icon></a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                                itemsPerPageLabel="Pedidos por Página" [pageSize]="pageSize" [pageIndex]="pageIndex"
                                [length]="pedidosEncurso.length" (page)="onPaginateChange($event)">
                            </mat-paginator>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Pedidos en Transporte">
                    <div class="pedidosVacios" *ngIf="showPedidoVacioTransporte">
                        <h3 style="color: #107997;">No se encuentran pedidos en esta sección</h3>
                    </div>
                    <div class="container"*ngIf="showPedidosEnTransporte">
                        <div class="searchPedido">
                            <mat-form-field>
                                <mat-label>Ingrese pedido a buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event,dataSourcePedidosEnTransporte)"
                                    placeholder="Búsqueda Pedido" #input autocomplete="off">
                            </mat-form-field>
                        </div>
        
                        <div class="mat-elevation-z8 margen">
        
                            <table mat-table [dataSource]="dataSourcePedidosEnTransporte" matSort>
                                <ng-container matColumnDef="fecha">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('fecha',dataSourcePedidosEnTransporte)"> Fecha </th>
                                    <td mat-cell *matCellDef="let element">{{element.fecha}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="dni">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('idUser',dataSourcePedidosEnTransporte)">DNI</th>
                                    <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="apellido">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('apellido',dataSourcePedidosEnTransporte)"> Apellido </th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="nombre">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('nombre',dataSourcePedidosEnTransporte)">Nombre</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="acciones">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header>Acciones</th>
                                    <td mat-cell *matCellDef="let element; let pos = index">
                                        <a
                                            (click)="showModalTransporteyFinalizado(element, pos);actualizarResumen(pos,pedidosEnTransporte)"><mat-icon
                                                style="cursor: pointer;color: #107997;"
                                                title="Ver Pedido">visibility</mat-icon></a>
                                        <a (click)="envioSeguimiento(element.id)" title="Cargar Seguimiento"
                                            style="cursor: pointer;color: #107997;"><mat-icon>
                                                list_alt</mat-icon> </a>
                                        <a (click)="AceptarPedido(element.id,'Pedidos En Transporte','Pedidos Finalizados')"
                                            title="Finalizar Pedido" style="cursor: pointer;color: #107997;"><mat-icon>
                                                check_circle</mat-icon>
                                        </a>
                                    </td>
                                </ng-container>
        
        
        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                                itemsPerPageLabel="Pedidos por Página" [pageSize]="pageSize" [pageIndex]="pageIndex"
                                [length]="pedidosEnTransporte.length" (page)="onPaginateChange($event)">
                            </mat-paginator>
        
        
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Pedidos Finalizados">
                    <div class="pedidosVacios" *ngIf="showPedidoVacioFinalizado">
                        <h3 style="color: #107997;">No se encuentran pedidos en esta sección</h3>
                    </div>
                    <div class="container" *ngIf="showPedidosFinalizados">
                        <div class="searchPedido">
                            <mat-form-field>
                                <mat-label>Ingrese pedido a buscar</mat-label>
                                <input matInput (keyup)="applyFilter($event,dataSourcePedidosFinalizados)"
                                    placeholder="Búsqueda Pedido" #input autocomplete="off">
                            </mat-form-field>
                        </div>
        
                        <div class="mat-elevation-z8 margen">
        
                            <table mat-table [dataSource]="dataSourcePedidosFinalizados" matSort>
                                <ng-container matColumnDef="fecha">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('fecha',dataSourcePedidosFinalizados)"> Fecha </th>
                                    <td mat-cell *matCellDef="let element">{{element.fecha}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="dni">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('idUser',dataSourcePedidosFinalizados)">DNI</th>
                                    <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="apellido">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('apellido',dataSourcePedidosFinalizados)"> Apellido </th>
                                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="nombre">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header
                                        (click)="ordenarTabla('nombre',dataSourcePedidosFinalizados)">Nombre</th>
                                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                                </ng-container>
        
                                <ng-container matColumnDef="acciones">
                                    <th style="background-color: #107997;color: white;font-weight: bold;" mat-header-cell
                                        *matHeaderCellDef mat-sort-header>Acciones</th>
                                    <td mat-cell *matCellDef="let element; let pos = index">
                                        <a
                                            (click)="showModalTransporteyFinalizado(element, pos);actualizarResumen(pos,pedidosFinalizados)"><mat-icon
                                                style="cursor: pointer;color: #107997;"
                                                title="Ver Pedido">visibility</mat-icon></a>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons
                                itemsPerPageLabel="Pedidos por Página" [pageSize]="pageSize" [pageIndex]="pageIndex"
                                [length]="pedidosFinalizados.length" (page)="onPaginateChange($event)">
                            </mat-paginator>
        
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        
        </div>
        
        
        <div class="confirmation-dialog" *ngIf="carritoHabilitado">
            <div class="modalCarrito">
                <div>
                    <h1>Pedido de {{pedido.nombre}} {{pedido.apellido}}</h1>
                    <div class="datosPrimarios">
                        <h6 style="text-align: left;"><strong>Fecha Pedido: </strong>{{pedido.fecha}}</h6>
                        <h6 style="text-align: left;"><strong>Nro Contacto: </strong>{{pedido.celular}}</h6>
                        <h6 *ngIf="showNombreTransporte" style="text-align: left;"><strong>Nombre Transporte: </strong>{{pedido.transporte}}
                        </h6>
                        <h6 *ngIf="showCodigoSeguimiento" style="text-align: left;"><strong>Nro Seguimiento: </strong>{{pedido.seguimiento}}
                        </h6>
                    </div>
                    <div class="contenedorCart">
                        <div class="losProductos container">
                            <h4>Productos</h4>
                            <div *ngFor="let carro of pedido.carrito ;let i=index" class="card">
        
                                <div class="carrito">
                                    <div class="izquierda">
                                        <div class="carroImagen">
                                            <img src="{{carro.addProducto.imagenes}}">
                                        </div>
                                    </div>
                                    <div class="derecha">
                                        <div class="derArriba">
                                            <div class="carroNombre ordenCeldas">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <strong>Producto: </strong>{{carro.addProducto.nombre}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="derAbajo">
                                            <div class="carritoPrecioU ordenCeldas">
                                                <table>
                                                    <tr>
                                                        <th>Precio unitario</th>
                                                    </tr>
                                                    <tr>
                                                        <td>U$S {{carro.addProducto.precio}}</td>
                                                    </tr>
                                                </table>
                                            </div>
        
                                            <div class="carritoBotonera ordenCeldas">
                                                <table>
                                                    <tr>
                                                        <th>Cantidad</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <button *ngIf="showResta"
                                                                (click)="restarUno(carro.addProducto.id, i); actualizarResumen(indicePedidoPendiente,pedidosPendientes)">-</button>
                                                            <label id="cotización">{{carro.addProducto.cantidad}}</label>
                                                            <button *ngIf="showSuma"
                                                                (click)="sumarUno(carro.addProducto.id, i, tipoPedido); actualizarResumen(indicePedidoPendiente,pedidosPendientes)">+</button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="carritoPrecioT ordenCeldas">
                                                <table>
                                                    <tr>
                                                        <th>Costo total</th>
                                                    </tr>
                                                    <tr>
                                                        <td>U$S {{(carro.addProducto.precio *
                                                            carro.addProducto.cantidad)|number:'1.2-2'}}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="carritoPrecioIva ordenCeldas">
                                                <table>
                                                    <tr>
                                                        <th>Costo Total con Iva:</th>
                                                    </tr>
                                                    <tr>
                                                        <td>U$S {{ ((carro.addProducto.precio * carro.addProducto.cantidad) * (1 +
                                                            carro.addProducto.iva / 100)).toFixed(2) | number:'1.2-2' }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="carritoEliminar ordenCeldas">
                                                <button *ngIf="showEliminar"
                                                    (click)="quitarProd(i); actualizarResumen(indicePedidoPendiente)"><mat-icon>delete</mat-icon></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="resumenCarrito">
                            <h4 id="product-description">Resumen</h4>

                            <div>
                                <p><strong>Cantidad Items: </strong>{{ total }}</p>
                                <p><strong>Costo Total: </strong>U$S {{ monto | number:'1.2-2' }}</p>
                                <p><strong>Costo Total con Iva: </strong>U$S {{ montoIva.toFixed(2) | number:'1.2-2' }}</p>
                            </div>
        
                        </div>
                    </div>
                </div>
                <div class="buttonClose">
                    <button *ngIf="showActualizar" [disabled]="sinModificaciones" (click)="actualizarPedido()" mat-raised-button
                        color="primary">Actualizar</button>
                    <button (click)="hideCarrito()" mat-raised-button color="primary">Cerrar</button>
                </div>
                <div class="aviso">
                    <mat-hint class="matHint" *ngIf="!sinModificaciones">Debe "actualizar" para guardar los cambios o "cerrar"
                        para descartarlos</mat-hint>
                </div>
            </div>
        </div>
        
        
        <div class="confirmation-dialog" *ngIf="showSeguimiento">
            <div class="dialog-content">
                <div class="login">
                    <form [formGroup]="formSeguimiento" (ngSubmit)="updateSeguimiento()">
                        <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Nro. Seguimiento</mat-label>
                                    <input matInput formControlName="seguimiento">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div class="centrado">
                            <button type="submit" mat-raised-button color="primary"[disabled]="!formSeguimiento.valid">Guardar</button>
                            <button (click)="cerrarSeguimiento()" mat-raised-button color="primary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div class="confirmation-dialog" *ngIf="showTransporte">
            <div class="dialog-content">
                <div class="login">
                    <form [formGroup]="formTransporte" (ngSubmit)="updateTransporte()">
                        <mat-grid-list cols="4" rowHeight="70px" style="margin-top: 8%; margin-right: 6%;">
                            <mat-grid-tile [colspan]="4" [rowspan]="1">
                                <mat-form-field>
                                    <mat-label>Nombre Transporte</mat-label>
                                    <input matInput formControlName="transporte">
                                </mat-form-field>
                            </mat-grid-tile>
                        </mat-grid-list>
                        <div class="centrado">
                            <button (click)="AceptarPedido(this.elementoActual,'Pedidos En Curso','Pedidos En Transporte');"
                                type="submit" mat-raised-button color="primary"[disabled]="!formTransporte.valid">Guardar</button>
                            <button (click)="cerrarTransporte()" mat-raised-button color="primary">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="confirmation-dialog" *ngIf="showConfirmationDelPedido">
            <div class="dialog-content">
                <h4>¿Está seguro que desea eliminar el pedido?</h4>
                <div style="text-align: center;">
                    <button style="background-color: #107997;color: white;" mat-raised-button (click)="confirmDel()">Confirmar</button>
                    <button  style="background-color: #107997;color: white;" mat-raised-button (click)="cancelDel()">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div *ngIf="_spinner.getSpinner()" class="spinner-container">
        <app-spinner></app-spinner>
    </div>

    <div class="gris">

    </div>
   
</div>
<app-footer></app-footer>